---
import { TRABAJOS_LIST } from "../constants";
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-5 my-20 max-w-[700px] mx-auto">
  {
    TRABAJOS_LIST.map((trabajos) => {
      const { title } = trabajos;
      return (
        <a
          transition:name={title}
          href={`galeria/${title}`}
          class="cursor-pointer relative  rounded-3xl  overflow-hidden hover:scale-[1.01]  transition-[0.5s]"
        >
          <img
            class="h-auto max-w-full aspect-square object-cover"
            src={`../../public/images/${title}.webp`}
            alt=""
          />
          <div class="flex justify-center items-center absolute top-0 w-full h-full bg-[#302916aa] hover:bg-[#30291655] transition-[0.5s]">
            <h2 transition:name={`title-${title}`}>{title}</h2>
          </div>
        </a>
      );
    })
  }
</div>
